[Unit]
Description = Sets IR keytable
Before = xbmc.service

[Service]
Type = oneshot
# BARDZO nieprzenosne
ExecStart = /usr/bin/ir-keytable -c -p SONY -w /usr/local/share/ir_keytables/remote.ir_keytable

[Install]
WantedBy = multi-user.target
