[Unit]
Description = Starts instance of Kodi using xinit
After = syslog.target

[Service]
User = feplayer
Group = feplayer
Type = simple
ExecStart = /usr/bin/xinit /usr/bin/kodi-standalone -- :0

[Install]
WantedBy = multi-user.target
